.button {
  display: inline-block;
  flex-shrink: 0;

  margin: 1px 0 1px 0;
  padding: 5px 16px 5px 16px;

  border: 2px solid transparent;
  border-radius: $border-radius-large;
  outline: none;

  //Primary
  &--primary {
    color: $figma-white;
    background-color: $figma-blue;

    @include font-ui-neg("small", "medium");

    &:active,
    &:focus {
      border: 2px solid $figma-black-3;
    }

    &:disabled {
      background-color: $figma-black-3;
    }
  }

  //Primary Destructive
  &--primary-destructive {
    color: $figma-white;
    background-color: $figma-red;

    &:active,
    &:focus {
      border: 2px solid $figma-black-3;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  //Secondary
  &--secondary {
    color: $figma-black-8;
    border: 1px solid $figma-black-8;
    background-color: $figma-white;

    @include font-ui-pos("small", "medium");

    &:active,
    &:focus {
      // padding: 4px 23px 4px 23px;

      border: 1px solid $figma-blue;
      color: $figma-blue;
    }

    &:disabled {
      color: $figma-black-3;
      border: 1px solid $figma-black-3;
    }
  }

  &--secondary-destructive {
    color: $figma-red;
    border: 1px solid $figma-red;
    background-color: $figma-white;

    @include font-ui-pos("small", "medium");

    &:active,
    &:focus {
      padding: 4px 23px 4px 23px;

      border: 2px solid $figma-red;
    }

    &:disabled {
      opacity: 0.4;
    }
  }
}

button {
  @extend .button;
}
