.input {
  display: flex;
  align-items: center;

  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: 8px 4px 8px 7px;

  color: $figma-black-8;
  border: 1px solid $figma-black-1;
  border-radius: $border-radius-small;
  outline: none;
  background-color: $figma-white;

  @include font-ui-pos("small", "normal");

  &:hover {
    color: $figma-black-8;
    border: 1px solid $figma-black-1;
  }

  &:active,
  &:focus {
    padding: 8px 4px 8px 6px;
    color: $figma-black;
    border: 2px solid $figma-blue;
    border-radius: $border-radius-small;
  }

  &::selection {
    color: $figma-black;
    background-color: $figma-text-select;
  }

  &::placeholder {
    color: $figma-black-3;
  }

  &:disabled {
    color: $figma-black-3;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  input[type="text"] {
    flex: 1 1;
  }

  label {
    flex-shrink: 0;
    width: 70px;
  }
}

.sequenceInput {
  input {
    width: 60px;
  }
}
