.switch {
	position: relative;

	display: flex;
	align-items: center;
	align-self: 1;
	flex-direction: row;

	cursor: default;

	&__container {
		position: relative;

		width: 24px;
		height: 12px;
		margin: 10px 16px 10px 8px;
	}

	&__label {
		@include font-ui-pos('small', 'normal');
	}

	&__checkbox {
		width: 0;
		height: 0;

		opacity: 0;

		&:checked + .switch__slider {
			background-color: $figma-black;
		}

		&:focus + .switch__slider {
			box-shadow: 0 0 1px #2196f3;
		}

		&:checked + .switch__slider:before {
			-webkit-transform: translateX(12px);
			    -ms-transform: translateX(12px);
			        transform: translateX(12px);
		}
	}

	&__slider {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		transition: transform .2s;
		transition: background-color 0 .2s;

		border: 1px solid $figma-black;
		border-radius: 12px;
		background-color: $figma-white;

		&::before {
			position: absolute;
			top: -1px;
			left: -1px;

			width: 10px;
			height: 10px;

			content: '';

			transition: transform .2s;
			transition: background-color 0 .2s;

			border: 1px solid $figma-black;
			border-radius: 50%;
			background-color: white;
		}
	}
}
